.root {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 400px;
  width: 90%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header img {
  height: 350px;
}